* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: Arial, Helvetica Neue, sans-serif;
}

h2 {
	text-align: left;


color: black;	


}
.results {
	text-align: left;
color: 6px 6px 10px black;	


}

.output{
	
background-image: url(../images/outcat.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}