* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: Arial, Helvetica Neue, sans-serif;
}

h1 {
	text-align: center;

color: orange;	
text-shadow: 2px 2px 5px black;

}

.kia{
	text-align: center;
background-image: url(../images/kiadropship.jpeg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

