* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: Arial, Helvetica Neue, sans-serif;
}

h2 {
	text-align: center;

color: 15px 16px 17px orange;	
text-shadow: 15px 16px 17px yellow;

}
.justturnred {
	text-align: left;
text-indent: 80px;
color: 6px 6px 10px red;	
text-shadow: 5px 5px 8px red;

}

.search{
	
background-image: url(../images/searching.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}