* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: Arial, Helvetica Neue, sans-serif;
}

h2 {
	text-align: center;
text-indent: -150px;
color: orange;	
text-shadow: 2px 2px 5px lightblue;

}
h1 {
	text-align: left;
text-indent: 320px;
color: white;	
text-shadow: 2.5px 2.5px 6px red;

}

.update{
	
background-image: url(../images/updatedropship.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

form{
	
	color: white;
text-shadow: 2px 2px 5px red;
text-indent: 25px;
}